/*
*  Hello, this is main file of stylus, all files are "compiled" to css in
*  folder css.
*  Pss.. you can se this file for a good pratice, importing files here and
*  loading all in a simples <link> (e.g @import "_yourFile").
*
*  Thank's for using this boilerplate, I hoje you enjoy !!
*
* Regards, Adejair Júnior<adejair.junioroulook@gmail.com>.
*/
